body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url('../img/bg.png');
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 50px;
}

a {
	cursor: pointer;
}

.btn {
	width: 130px;
}

.st-title {
	color: #ffffff;
	font-size: 62px;
	text-shadow: 10px 10px 10px #000;
	cursor: pointer;
	font-family: 'Black Ops One', cursive;
}

.st-subtitle {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
} 

.content {
	color: #ffffff;
	font-size: 18px;
	-o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    display: none;
}

.content > pre {
	border: 1px solid #323232;
	margin: 20px 10px;
	padding: 25px 20px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

.boilerplate-container > pre {
	border: 1px solid #323232;
	margin: 20px 10px;
	padding: 25px 20px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

code {
	font-size: 16px;
	font-family: monospace;
}

h2 {
	text-shadow: 5px 5px 5px #000;
	line-height: 50px;
}

h3 {
	text-shadow: 5px 5px 5px #000;
	line-height: 40px;
	text-decoration: underline;
}

.h3 {
	text-shadow: 5px 5px 5px #000;
	line-height: 40px;
}

.h2 {
	text-shadow: 5px 5px 5px #000;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
}

li {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
}

.explenation {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
}

.explenation-big {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
	font-size: 22px;
}

.explenation-error {
	text-shadow: 5px 5px 5px #000;
	color: red;
}

.explenation-small {
	font-size: 14px;
	text-shadow: 5px 5px 5px #000;
	color: #ffffff;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

span.btn {
	float: right;
	display: none;
}

#home {
	display: block;
}

.modal {
	color: #000000;
}

.application-architecture-image {
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image: url("../img/application-architecture.png");
	margin: 0 auto;
}

.sidebar-nav li a {
	font-size: 16px;
}

.api .class > .title {
	color: #005580;
	font-weight: bold;
	border-bottom: 1px solid #005580;
}

.api .class > .description {
	color: #000000;
	line-height: 25px;
	font-size: 16px;
}

.api .class .method > .title {
	color: #000000;
	font-weight: bold;
	line-height: 20px;
}

.api .class .method > .description {
	color: #000000;
	font-size: 14px;
	line-height: 25px;
}

.api .class > div {
	margin-bottom: 10px;
}

.marked {
	color: #FE2E2E;
	font-weight: bold;
}

