body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url('../img/bg.png');
	overflow-x: hidden;
	line-height: 50px;
}

.btn {
	width: 130px;
}

.st-title {
	color: #ffffff;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 10px 10px 10px #000;
	cursor: pointer;
}

.st-subtitle {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
} 

.content {

	color: #ffffff;
	font-size: 18px;
	display: none;
}

.content > pre {
	border: 1px solid #323232;
	margin: 20px 10px;
	padding: 25px 20px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	color: #bdbdbd;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

.boilerplate-container > pre {
	border: 1px solid #323232;
	margin: 20px 10px;
	padding: 25px 20px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	color: #bdbdbd;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

code {
	font-size: 14px;
}

h2 {
	text-shadow: 5px 5px 5px #000;
	line-height: 50px;
}

.h2 {
	text-shadow: 5px 5px 5px #000;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
}

li {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
}

.explenation {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
}

.explenation-big {
	text-shadow: 5px 5px 5px #000;
	line-height: 30px;
	font-size: 22px;
}

.explenation-error {
	text-shadow: 5px 5px 5px #000;
	color: red;
}

.explenation-small {
	font-size: 14px;
	text-shadow: 5px 5px 5px #000;
	color: #ffffff;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

span.btn {
	float: right;
	display: none;
}

#home {
	display: block;
}

.modal {
	color: #000000;
}

.width-transition {
	transition-property: width;
	transition-duration: 15s;
	transition-timing-function: ease;
	transition-delay: 5s;
	/* Firefox 4 */
	-moz-transition-property:width;
	-moz-transition-duration:5s;
	-moz-transition-timing-function:ease;
	-moz-transition-delay:5s;
	/* Safari and Chrome */
	-webkit-transition-property:width;
	-webkit-transition-duration:5s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:5s;
	/* Opera */
	-o-transition-property:width;
	-o-transition-duration:5s;
	-o-transition-timing-function:ease;
	-o-transition-delay:5s;
}

@keyframes removePageAnimation {
	0%: { margin-left: 0%;};
	100%: {margin-left: 300px;};
}
